body {
    margin: 0;
}
.nav {
    display: flex;
    background-color: rgb(237, 232, 232);
    color: rgb(155, 34, 34);
    height: 60px;
    justify-content: space-between;
}
.title {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-size: 1.1rem;
}

button{
    font-size: 1.1rem;
}